# Ignore Gradle build output directory
**/build

# Ignore Gradle project-specific cache directory
**/.gradle
**/.gradletasknamecache

# Ignore IntelliJ build output directory
**/out/
**/target/

# Ignore IDE project files
**/.idea
**/.iml
**/*.iml
**/*.ipr
**/*.iws

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

### VS Code ###
**/.vscode/

## Log files ##
**/logs/**/*

# Ignore bin directories
**/bin

# Ignore MacOS files
**/.DS_Store
**/Thumbs.db

# Misc
**/HELP.md